.container {
  display: flex;
  flex-direction: row;
}

.console {
  height: 100px;
}

.app {
  border: 1px solid black;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

.react-test-highlight-element {
  border: 1px solid red;
  flex: 1;
}
