.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: clip;
}

.console {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: space-between;
}

.test-iframe {
  border: 1px solid black;
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}

button {
  background-color: rgb(95, 95, 231);
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 6px;
  box-shadow: 0 2px 1px rgb(153, 153, 153);
}

button:hover {
  background-color: rgb(53, 53, 168);
}

button:focus {
  background-color: rgb(33, 33, 119);
}

.code-window-titles {
  font-size: 15px;
  margin: 10px;
}

.editor-div {
  flex: 1 1 20%;
  min-height: 0;
  overflow: auto;
}

.tab-instruction {
  font-size: 10pt;
}
